:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  grid-column: 1fr 3fr 1fr;
}



body {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
 

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;

}

.container{
  border: 2px solid red;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.card{
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
}

.card > p {
  margin-top: auto;
}

.card > img {
  align-self: center;
  margin-top: auto;
}