*{
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fffcf6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

@font-face {
  font-family:'BobsBurgers';
  src: local('BobsBurgers'), url('./fonts/BobsBurgers.ttf') format('truetype');
}
@font-face {
  font-family:'crayonFont';
  src: local('crayonFont'), url('./fonts/crayonFont.ttf') format('truetype');
}

body {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;


}

h1 {
  font-size: 5em;
  color: #e40000;
  font-family: BobsBurgers;
}

.container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  padding-left: 10vh;
  padding-right: 10vh;

}

.card > p {
  margin-top: auto;
  background-color: #e40000;
  border-top: 3px solid #ffdd00;
  color: white;
  font-weight: bold;
}

.card > img {
  align-self: center;
  margin-top: auto;
}

.card{
  min-height: 250px;
  border: 3px solid #e40000;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  background-color: white;
  outline: 3px solid #ffdd00;
  transition: outline 0.2s linear 0s;
}

.card:hover {
  outline: 3px solid #e40000;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-left: 15vh;
  padding-right: 15vh;
  padding-bottom: 10px;
}

.burgerDay{
  font-family: crayonFont;
  font-size: 1.5em;
  transform: rotate(10deg);
  display: block;

}

.scores{
  font-family: BobsBurgers;
  font-size: 2em;
  color: #118200;
}

.endGame {
  position: fixed;
  min-width: 50vw;
  min-height: 50vh;
  background-color: #fffcf6;
  border: 5px solid #e40000;
  outline: 5px solid #ffdd00;
  border-radius: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

button {
  background-color: #ffdd00;
  color: #e40000;
  border: 3px solid #e40000;
  border-radius: 2px;
  font-size: 1.5em;
  outline: 3px solid #ffdd00;
  font-family: inherit;
  font-weight: bold;
  width: 160px;
  padding: 5px 10px;
  align-self: center;
  margin-top: 10px;

}